/* Global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    background: #c0eff5;
}

/* Container */

.grid-container {
    display: grid;
    grid-template-columns: 0.4fr 1.6fr;
    grid-template-rows: 0.3fr 1.7fr;
    grid-template-areas: "button header""tasks calendar";
}

.button {
    grid-area: button;
}

.tasks {
    grid-area: tasks;
    text-align: center;
}

.calendar-div {
    grid-area: calendar;
}

.header {
    grid-area: header;
}


.add-task {
    grid-area: add-task;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-task-btn {
    color: #494949;
    text-transform: uppercase;
    text-decoration: none;
    background: #fff;
    padding: 20px;
    border: 4px solid #494949;
    border-radius: 6px;
}

.add-task-btn:hover {
    color: #fff;
    background: #494949;
    border-color: #494949;
    transition: all 0.4s ease 0s;
}

.calendar {
    grid-area: calendar;
    background-color: rgb(184, 181, 181);
}